<form name="groupForm">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Group name</span>
        </div>
        <input type="text" class="form-control" id="nameInput" name="name" placeholder="inCamp S*" ng-model="$ctrl.group.name">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Period</span>
        </div>
        <input type="date" name="periodStart" id="periodInputS" class="form-control"  ng-model="$ctrl.group.periodStart" value="{{$ctrl.group.periodStart | date: 'yyyy-MM-dd'}}">
        <input type="date" name="periodFinish" id="periodInputF" class="form-control" ng-model="$ctrl.group.periodFinish" value="{{$ctrl.group.periodFinish | date: 'yyyy-MM-dd'}}">
    </div>
</form>