<div class="col-3">
    <div class="card">
        <div class="card-header card-secondary">
            <a href="#!/" class="list-group-item list-group-item-action">
                Start page
            </a>
        </div>
        <div id="navList" class="list-group list-group-flush">
            <a href="#!/groups" class="list-group-item list-group-item-action">
                Groups</a>
            <a href="#!" class="list-group-item list-group-item-action">
                Interns</a>
            <a href="#!" class="list-group-item list-group-item-action">
                Questions</a>
            <a href="#!" class="list-group-item list-group-item-action">
                Tasks</a>
            <a href="#!" class="list-group-item list-group-item-action">
                Tests</a>
            <a href="#!" class="list-group-item list-group-item-action">
                Week Topics</a>
        </div>
    </div>
</div>