
.add-btn {
  margin-right: 0.5em;
}

.margin-top {
  margin-top: 1em;
}

.intern-name {
  padding: 0.2em;
  margin: 0.2em;
  width: 30%
}

.link-on-list {
  padding-top: 1em;
  padding-left: 1em;
  margin-bottom: 1em;
}
