<div ng-controller="groupsController as ctrl">
    <div class="card" >
        <h3 class="card-header">Groups</h3>
        <div class="card-body">
            <div id="groupsList" class="list-group">
                <div ng-repeat="group in ctrl.groups">
                    <group-item group="group" delete-group="ctrl.deleteGroup(group)" redirect-to="ctrl.redirectTo('groupUpdate/' + group.id)"></group-item>
                </div>
            </div>
        </div>
    </div>
    <input type="button" style="width: 100%" class="btn btn-success margin-top" value="Add" ng-click="ctrl.redirectTo('createGroup')">
</div>
